Repository jdmiguel/fooDublin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config ./.prettierrc --write, eslint --fix

add .lintstaged
  .lintstagedrc
Due: none

updated lintstaged
  .lintstagedrc
Due: none

update cypress folder
  .eslintrc.js
  .lintstagedrc
  cypress/integration/examples/actions.spec.js
  cypress/integration/examples/aliasing.spec.js
  cypress/integration/examples/assertions.spec.js
  cypress/integration/examples/connectors.spec.js
  cypress/integration/examples/cookies.spec.js
  cypress/integration/examples/cypress_api.spec.js
  cypress/integration/examples/files.spec.js
  cypress/integration/examples/local_storage.spec.js
  cypress/integration/examples/location.spec.js
  cypress/integration/examples/misc.spec.js
  cypress/integration/examples/navigation.spec.js
  cypress/integration/examples/network_requests.spec.js
  cypress/integration/examples/querying.spec.js
  cypress/integration/examples/spies_stubs_clocks.spec.js
  cypress/integration/examples/traversal.spec.js
  cypress/integration/examples/utilities.spec.js
  cypress/integration/examples/viewport.spec.js
  cypress/integration/examples/waiting.spec.js
  cypress/integration/examples/window.spec.js
  cypress/integration/firts-test.spec.js
Due: prettier --config ./.prettierrc --write, eslint --fix

update .lintstagedrc
  .lintstagedrc
Due: none

add highlights integration test
  .eslintrc.js
  .lintstagedrc
  components/pages/HomePage/HomePage.tsx
  components/ui/Finder/Finder.tsx
  cypress/integration/highlights.spec.js
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --config ./.prettierrc --write, eslint --fix

fix linstaged
  .lintstagedrc
Due: none

add global in eslintrc
  .eslintrc.js
Due: prettier --config ./.prettierrc --write, eslint --fix

test
  components/pages/HomePage/HomePage.tsx
Due: prettier --config ./.prettierrc --write, eslint --fix

Revert "test"
  components/pages/HomePage/HomePage.tsx
Due: prettier --config ./.prettierrc --write, eslint --fix

Revert "add global in eslintrc"
  .eslintrc.js
Due: prettier --config ./.prettierrc --write, eslint --fix

Revert "fix linstaged"
  .lintstagedrc
Due: none

fix .lintstaged
  .lintstagedrc
Due: none

add homepage integration test
  .lintstagedrc
  components/core/Breadcrumbs/Breadcrumbs.tsx
  cypress/integration/firts-test.spec.js
  cypress/integration/home-page.spec.js
Due: prettier --config ./.prettierrc --write, eslint --fix

update lintstaged
  .lintstagedrc
Due: none

Revert "update lintstaged"
  .lintstagedrc
Due: none

test
  .lintstagedrc
  components/core/Breadcrumbs/Breadcrumbs.tsx
Due: prettier --config ./.prettierrc --write, eslint --fix

Revert "test"
  .lintstagedrc
  components/core/Breadcrumbs/Breadcrumbs.tsx
Due: prettier --config ./.prettierrc --write, eslint --fix

test
  .eslintrc
  .eslintrc.js
  .prettierrc
  components/pages/HomePage/HomePage.tsx
Due: prettier --config ./.prettierrc --write, eslint --fix

Revert "test"
  .eslintrc
  .eslintrc.js
  .prettierrc.js
  components/pages/HomePage/HomePage.tsx
Due: prettier --config ./.prettierrc --write, eslint --fix

update eslintrc and prettierrc
  .eslintrc
  .eslintrc.js
  .prettierrc
Due: prettier --config ./.prettierrc --write, eslint --fix

update yarn.lock
  yarn.lock
Due: none

update readme
  README.md
Due: none

format readme.md
  README.md
Due: none

update readme.md
  README.md
Due: none

update next.js
  package.json
  yarn.lock
Due: prettier --config ./.prettierrc --write

fix setTimeout ts error
  components/core/Autocomplete/Autocomplete.tsx
  components/hooks/useScroll.tsx
Due: prettier --config ./.prettierrc --write, eslint --fix

remove mocks folder
  __mocks__/axios.js
  __mocks__/react-modal.js
Due: prettier --config ./.prettierrc --write, eslint --fix

fix import in unit test
  components/ui/ReviewCard/__tests__/reviewCard.spec.tsx
Due: prettier --config ./.prettierrc --write, eslint --fix

add critters package
  package.json
  yarn.lock
Due: prettier --config ./.prettierrc --write

fix no restaurants on search request
  pages/search/[location]/[cuisine].tsx
Due: prettier --config ./.prettierrc --write, eslint --fix

add jimp dependency
  package.json
  yarn.lock
Due: prettier --config ./.prettierrc --write

show line loading on navigating
  components/core/Breadcrumbs/__tests__/__snapshots__/breadcrumbs.spec.tsx.snap
  components/layouts/Footer/Footer.tsx
  components/layouts/Footer/__tests__/__snapshots__/footer.spec.tsx.snap
  components/layouts/Header/Header.tsx
  components/layouts/Header/__tests__/__snapshots__/header.spec.tsx.snap
  components/layouts/Layout/Layout.tsx
  components/layouts/Layout/__tests__/layouts.spec.tsx
  components/pages/DetailPage/DetailPage.tsx
  components/pages/FavoritesPage/FavoritesPage.tsx
  components/pages/HomePage/HomePage.tsx
  components/pages/SearchPage/SearchPage.tsx
  components/ui/Finder/__tests__/__snapshots__/finder.spec.tsx.snap
  pages/detail/[id]/[name].tsx
  pages/favorites.tsx
  pages/index.tsx
  pages/search/[location]/[cuisine].tsx
Due: prettier --config ./.prettierrc --write, eslint --fix

update line loader style
  components/core/Loader/styles.tsx
Due: prettier --config ./.prettierrc --write, eslint --fix

apply new loading feature to ErrorPage
  components/pages/ErrorPage/ErrorPage.tsx
  pages/detail/[id]/[name].tsx
  pages/search/[location]/[cuisine].tsx
Due: prettier --config ./.prettierrc --write, eslint --fix

Path conditions:
  prettier --config ./.prettierrc --write: any of: ./**/*.{js,jsx,ts,tsx,css,json}
  eslint --fix: any of: ./**/*.{js,jsx,ts,tsx}
